* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: none;
}

nav {
  background-color: #24303c;
  height: 34px;
}

nav ul li {
  float: left;
  list-style: none;
  margin: 15px;
  font-size: 20px;
}

nav ul li a {
  color: white;
}


a {
  text-decoration: none;
}

h1{
  color: white;
  font-weight: bold;
}

body {
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
div {
  background: #24303c;
}
.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

input[type="email"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}

#b1 {
  padding: 10px 20px;
  border-radius: 3px;
  background: #1f53c5;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  margin-left: 8rem;
}

.text-center {
  text-align: center;
}

.modal-wrap {
  max-width: 600px;
  margin: 50px auto;
  transition: transform 300ms ease-in-out;
}

.modal-bodies {
  position: relative;
  perspective: 1000px;
}

.modal-body {
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;

  top: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  transform-origin: top left;
  background: #24303c;
  border-radius: 5px;
}

.is-showing {
  display: block;
}

#ima1 {
  width: 200px;
  border-radius: 3px;
}

.ima {
  margin-left: 6.1rem;
}

#error {
  text-align: center;
}

footer{
  margin-top: 84px;
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding: 15px;
}

#leaveboton{
  margin-left: 557px;
  margin-top: 12px;
}