* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    color: white;
    min-height: 100vh;
    background: #f1f1f1;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    

}

h1 {
    text-align: center;

}

.contenido {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 100%;
    background: #24303c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

embed{
    width: 900px;
    height: 570px;
}

footer{
    
    background: black;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin-top:auto;
    width: 100%; 
  }

  #botonleave{
      
      margin-top: -140px;
      margin-left: 940px;
  }

div h1{
    margin-top: 12px;
}